@font-face {
  font-family: 'iconfont';  /* Project id 3000510 */
  src: url('//at.alicdn.com/t/font_3000510_fmxczcwm8on.woff2?t=1639472532423') format('woff2'),
       url('//at.alicdn.com/t/font_3000510_fmxczcwm8on.woff?t=1639472532423') format('woff'),
       url('//at.alicdn.com/t/font_3000510_fmxczcwm8on.ttf?t=1639472532423') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
