$content-fontcolor: #333;
$content-bgColor: #F1F1F1;
$content-notice-fontcolor: #777;
$hightlight-fontColor: #E93B3B;
$btn-bgColor: #0091FF;
$wrapper-bgColor: rgb(247, 247, 247);
$light-fontColor: #999;
$middle-fontColor: #666;
$search-bgColor: #F5F5F5;